@keyframes kenBurns {
	0% {
		transform: scale( 1 );
	}
	to {
		transform: scale( 1.2 );
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0,25%,0)
	}

	to {
		opacity: 1;
		transform: translate3d(0,0,0)
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(-8rem,0,0)
	}

	to {
		opacity: 1;
		transform: translateZ(0)
	}
}

@keyframes fadeInBig {
	0% {
		opacity: 0;
		transform: scale(.2);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

.anim, .anims {
	position: relative;
}
.anim,
.anims[data-in-view],
.heading-anim[data-in-view]{
	animation-duration: .7s;
	animation-fill-mode: both;
}

.fadeInLeft,
.heading-anim[data-in-view] {
	animation-name: fadeInLeft
}

[data-in-view] .fadeInUp,
.fadeInUp[data-in-view] {
	animation-duration: .7s;
	animation-fill-mode: both;
	animation-name: fadeInUp
}

.fadeInBig[data-in-view],
[data-in-view] .fadeInBig{
	animation: .5s fadeInBig
}

.animate__animated {
	animation-duration: var(--animate-duration);
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.anim-d {
	animation-delay: .25s;
}

.anim-d1 {
	animation-delay: 1s;
}

@keyframes shakeX {
	10%,30%,50%,70%,90% {
		transform: translate3d(-.32rem,0,0)
	}

	0%, 20%,40%,60%,80%, 100% {
		transform: translate3d(.32rem,0,0)
	}
}

.shakeX {
	animation: 1s shakeX infinite both;
}

.ken-burns {
	overflow: hidden;
	position: relative;
	padding-bottom: 42.85%;
}

.ken-burns-img {
	@include absolute-fill;
	//transform-origin: bottom left;
	position: absolute;
	background: center/cover;
	animation: 25s kenBurns linear infinite alternate both;
}