.btn {
	&,
	&-flare {
		overflow: hidden;
		color: #fff;
		background: none;
		border: 1px solid;
		line-height: 1;
		text-decoration: none;
		vertical-align: middle;
		letter-spacing: .1em;
		white-space: nowrap;
		position: relative;
	}
	display: inline-block;
	padding: .7em 1.2em .8em;
	//background: #a00;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;
	overflow: hidden;
	position: relative;

	&.btn-red {
		background: #a00;
		border: none;
	}
	span {
		position: relative;
		z-index: 20;
	}

	&:after,
	&-flare:after {
		background: currentColor;
		content: "";
		height: 155px;
		left: -75px;
		opacity: .2;
		position: absolute;
		top: -50px;
		transform: rotate(35deg);
		width: 50px;
	}

	&:hover,
	&-flare:hover {
		transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);

		&:after {
			left: 120%;
			transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		}
	}

	&.play-btn {
		display: inline-block;
		overflow: hidden;
		background: linear-gradient( #f00, #a00 );
		border: 1px solid #fff1;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: url("../images/dark-mosaic.png");
			opacity: .5;
		}
	}
}

.absolute-btn {
	background: #a00;
	border: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%,  -50% );
}