.goodtimes, .logo {
	font-family: 'GoodTimes', sans-serif;
}

h1 {
	font-family: 'GoodTimes', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}
