.btn {
	display: inline-block;
	padding: .5em 1.2em .6em;
	line-height: 1;
	border: 1px solid;
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
	border-radius: 5px;

	&.play-btn {
		display: inline-block;
		overflow: hidden;
		position: relative;
		background: linear-gradient( #f00, #a00 );
		border: 1px solid #fff1;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: url("./textures/dark-mosaic.png");
			opacity: .5;
		}

		span {
			position: relative;
			z-index: 20;
		}

		&:after {
			background: currentColor;
			content: "";
			height: 155px;
			left: -75px;
			opacity: .2;
			position: absolute;
			top: -50px;
			transform: rotate(35deg);
			width: 50px;
		}

		&:hover {
			transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);

			&:after {
				left: 120%;
				transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
			}
		}
	}
}
