.scene {
	width: 100vw;
	position: relative;
	overflow: hidden;
	.content {
		position: relative;
		z-index: 1;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.scene-title,
	.scene-head {
		font: 400 calc(1.4rem + 1vw)/1.2 GoodTimes, sans-serif;
		margin: 0;
	}

	p {
		font-size: calc(1rem + .32vw);
	}
}

.bg-chart{
	&:after {
		@include absolute-fill;
		opacity: .13;
		background: url('https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/804d62119469157.609e0f716fd41.jpg');
	}
	&.scene:after {
		background-attachment: fixed;
	}
}

@import './scenes/hero';
@import './scenes/live-feed';
@import './scenes/roadmap';