@font-face {
	font-family: 'GoodTimes';
	src: url('./GoodTimesW00-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.goodtimes, .logo {
	font-family: 'GoodTimes';
}

h1 {
	font-family: 'GoodTimes';
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}
